{
  "stage": 0,
  "plugins": [
    "react-transform"
  ],
  "extra": {
    "react-transform": [{
      "target": "livereactload/babel-transform",
      "imports": ["react"],
      "locals": ["module"]
    }]
  }
}
